@font-face {
    font-family: 'Carter One';
    src: url('../fonts/CarterOne.woff') format('woff'),
        url('../fonts/CarterOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Patua One';
    src: url('../fonts/PatuaOne-Regular.woff') format('woff'),
        url('../fonts/PatuaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#c5efff, #7fdbff);
    background-size: cover;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.85vw;
}

#title {
    font-family: 'Carter One';
    font-size: 2vw;
    color: rgb(79, 72, 177);
    margin-bottom: 1vw;
}

#deck {
    width: 69vw;
    height: 32vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 0.35vw;
    cursor: pointer;
    pointer-events: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.image {
    width: 86%;
    height: 91%;
    border: 1px solid gray;
    pointer-events: auto;
}

.selected-card {
    pointer-events: none;
}

#aqua {
    background: url('../img/aqua.png') no-repeat center / cover;
}

#kazuma {
    background: url('../img/kazuma.png') no-repeat center / cover;
}

#megumin {
    background: url('../img/megumin.png') no-repeat center / cover;
}

#darkness {
    background: url('../img/darkness.png') no-repeat center / cover;
}

#yunyun {
    background: url('../img/yunyun.png') no-repeat center / cover;
}

#wiz {
    background: url('../img/wiz.png') no-repeat center / cover;
}

#footer-text {
    position: absolute;
    bottom: 0;
    display: flex;
    font-family: 'Patua One';
    font-size: 1.15vw;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 1.25vw;
}

#footer-text a {
    color: inherit;
    text-decoration: underline;
}

#footer-text a:hover {
    color: black;
    text-decoration-color: #cf2c4c;
}

.win-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Carter One', cursive;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.show-modal {
    opacity: 1;
    pointer-events: auto;
}

#you-win {
    font-size: 8vw;
}

#play-again {
    width: 10.5vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    letter-spacing: 1px;
    background-color: #cf2c4c;
    border-radius: 0.35vw;
    cursor: pointer;
    outline: none;
}

#play-again:hover {
    color: #cf2c4c;
    background-color: white;
    border: 0.25vw solid #cf2c4c;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #container {
        margin-bottom: unset;
    }

    #title {
        height: 7.5vh;
        font-size: 3.25vh;
        margin-bottom: unset;
        display: flex;
        align-items: center;
    }

    #deck {
        width: 45vh;
        height: 85vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1.5vh;
    }

    .card {
        border-radius: 0.75vh;
    }

    #footer-text {
        height: 7.5vh;
        font-size: 2.75vw;
        margin-bottom: unset;
        position: unset;
        align-items: center;
        justify-content: center;
    }

    #you-win {
        font-size: 13vw;
    }

    #play-again {
        width: 20vh;
        height: 6vh;
        font-size: 3vh;
        border-radius: 0.75vh;
    }

    #play-again:hover {
        border: 0.45vh solid #cf2c4c;
    }
}

@media screen and (max-width: 500px) {
    #title {
        height: 6.5vh;
    }    

    #deck {
        max-width: 330px;
        max-height: 625px;
    }

    .card {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    #footer-text {
        height: 8.5vh;
        font-size: 3.8vw;
        flex-direction: column;
    }

    #you-win {
        font-size: 18vw;
    }
}

@media screen and (max-width: 300px) {
    #deck {
        max-width: 250px;
        max-height: 480px;
    }
}